		body 
		{
			background-color: black;
		}
		h1 
		{
			color: orange;
			font-family: 'Bahiana', cursive;
			margin-top: 50px;
			font-size: 120px;
		}
		img 
		{
			position: absolute;
			margin-left: 900px;
			margin-top: -270px;
			width: 200px;
		}
		h2 
		{
			color: orange;
		}
		p 
		{
			width: 1000px;
			color: #cccccc;
		}
		table td:nth-of-type(odd) 
		{
			color: orange;
			font-size: x-large;
		}
		table td:nth-of-type(even) 
		{
			width: 800px;
			color: #cccccc;
		}
		table
		{
			border-spacing: 10px;
		}
		ul 
		{
			color: orange;
		}
		.stout 
		{
			color: orange;
			font-style: italic;
		}