		body 
		{
			background-color: black;
		}
		h1
		{
			float:left;
			color: orange;
			font-family: 'Bahiana', cursive;
			font-size: 150px;
			margin-top: 19px;	
			margin-bottom: 35px;
		}
		img
		{
			float: left;
			width: 10%;
			margin-top: 5px;
			margin-left: 5px;
		}
		h2 
		{
			color: orange;
			font-family: 'Bahiana', cursive;
			font-size: 50px;
		}
		p 
		{
			width: 1000px;
			color: #cccccc;
		}
		table td:nth-of-type(odd) 
		{
			color: orange;
			font-size: x-large;
		}
		table td:nth-of-type(even) 
		{
			width: 800px;
			color: #cccccc;
		}
		table
		{
			border-spacing: 10px;
		}
		ul 
		{
			color: orange;
		}
		.stout 
		{
			color: orange;
			font-style: italic;
		}
		#clearfix
		{
			clear: left;
			float: left;
		}
		#head
		{
			align-items: center;
			margin-left: 280px;
		}
		#menu 
		{
			list-style-type: none;
			margin-right: 100px;
			float: right;
					
		}
		#menu li 
		{
			background: orange;
			display: table;
		}
		#menu a 
		{
			background-color: orange;
			font-family: 'Bahiana', cursive;
			color: black;
			display: table;
			border: 2px solid #000;
			text-decoration: none;
			text-align: center;
			font-size: 25px;
			width: 200px;
			height: 20px;
		}
		#menu ul 
		{
			margin-top: -50px;
			-webkit-padding-start: 0px;
		}
